.profile-background {
    width: 90%; 
    height: 80px;
    background: linear-gradient(90deg, #011421 0%, #738188 55.37%, #E4EEEE 84.65%);
    border-radius: 30px;
    margin: 0 auto 2rem auto; 
  }
  
  .profile-section {
    background-color: white;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
    width: 90%;
  
    .profile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
  
      .avatar {
        position: relative;
        display: flex;
        align-items: center;
  
        img {
          background: linear-gradient(to right, #d1e8ff, #fff0d8);
          width: 90px;
          height: 90px;
          border-radius: 50%;
          margin-right: 15px;
        }

        .edit-icon-wrapper {
          position: absolute;
          bottom: -12px;
          right: 11.5rem;
          cursor: pointer;
  
          #edit-icon {
            font-size: 20px;
            color: #000;
            background-color: rgb(226, 225, 225);
            border-radius: 50%;
            padding: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
  
        h2 {
          font-size: 24px;
          margin: 0;

        }
  
        p {
          color: #999;
          margin-top: 5px;
  
        }
      }
      .edit-button {
        background-color: red;
        color: white;
        border: none;
        margin-right: 2rem;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
      }
      
      .edit-button:hover{
        background-color: rgb(134, 33, 33) !important;
      }
  
      .edit-button.active {
        background-color: #19742e;
      }
    }
    .profile-form{
      display: flex;
      justify-content: center;

      .form-control{
        height: 40px;
      }
    }
  }
  
  .save-button {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  